html,
body {
  /* 定义宽高，方便后续其他css样式 */
  width: 100%;
  height: 100%;
  /* 抗锯齿渲染 */
  -webkit-font-smoothing: antialiased;
  /* 手机端点击不显示蓝框 */
  -webkit-tap-highlight-color: transparent;
}

* {
  /* 清除浮动，解决奇奇怪怪的问题 */
  margin: 0;
  padding: 0;
}

em,
i {
  font-style: normal;
}

li {
  /* 去除li标签的圆点 */
  list-style: none;
}

img {
  border: 0;
  /* 文字与图片齐平 */
  vertical-align: middle;
}

button {
  /* 鼠标经过按钮变箭头 */
  cursor: pointer;
}

/* 清除浮动 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}

.clearfix {
  *zoom: 1;
}
